/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 10px 10px;
  background: #fff;
  border: none;
  border-radius: 5;
  margin-bottom: 0px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  perspective: 1500px;
}

#sidebar {
  font-size: medium;
  min-width: 250px;
  max-width: 250px;
  background: #212529;
  color: #fff;
  transition: all 0.6s cubic-bezier(0.945, 0.02, 0.27, 0.665);
  transform-origin: bottom left;
}

#sidebar.active {
  margin-left: -250px;
  transform: rotateY(100deg);
}

#sidebar .sidebar-header {
  padding: 10px;
  background: #212529;
  text-align: center;
}

#sidebar ul.components {
  padding: 20px 10px;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #7386d5;
  background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #6d7fcc;
}

#sidebar ul ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#sidebar .dropdown-btn:hover {
  cursor: pointer;
}

.dropdown-container {
  display: none;
}

a[data-toggle="collapse"] {
  position: sticky;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

/* ---------------------------------------------------
    Grade Window
----------------------------------------------------- */

.grades {
  width: 75%;
}

.sameline {
  display: flex;
  justify-content: space-between;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

#sidebarCollapse {
  width: 40px;
  height: 40px;
  background: #f5f5f5;
  cursor: pointer;
}

#sidebarCollapse span {
  width: 80%;
  height: 2px;
  margin: 0 auto;
  display: block;
  background: #555;
  transition: all 0.8s cubic-bezier(0.81, -0.33, 0.345, 1.375);
  transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
  transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
  opacity: 0;
}
#sidebarCollapse span:last-of-type {
  transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active span {
  transform: none;
  opacity: 1;
  margin: 5px auto;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 10000px) {
  #sidebar {
    margin-left: -250px;
    transform: rotateY(180deg);
  }
  #sidebar.active {
    margin-left: 0;
    transform: none;
  }
  #sidebarCollapse span:first-of-type,
  #sidebarCollapse span:nth-of-type(2),
  #sidebarCollapse span:last-of-type {
    transform: none;
    opacity: 1;
    margin: 5px auto;
  }
  #sidebarCollapse.active span {
    margin: 0 auto;
  }
  #sidebarCollapse.active span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
  }
  #sidebarCollapse.active span:nth-of-type(2) {
    opacity: 0;
  }
  #sidebarCollapse.active span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
  }
}

@media print {
  #printableTable {
    display: block;
    width: 100%;
  }
  .d-print-none {
    display: none !important;
  }

  * {
    display: none;
  }
}

/* ---------------------------------------------------
    Close Button
----------------------------------------------------- */
.closebtn:hover {
  color: black;
  cursor: pointer;
}
.alert {
  border-radius: 10px;
}

/* ---------------------------------------------------
    Hover Effect over Tiles in dashboard
----------------------------------------------------- */
.card {
  transition: all 0.5s ease;
}

.card:hover {
  transform: scale(1.03);
}

/* ---------------------------------------------------
    Plus icon in Admin dashboard 
----------------------------------------------------- */
#addIcon{
    display: flex;
    justify-content: center;
    align-items: center;
	position: fixed;
	width:10vh;
	height:10vh;
    right: 3vw;
    bottom: 7vh;
    z-index: 10;
	background-color:black;
    border: 2px solid #917472;
	color:#FFF;
	border-radius:50%;
	box-shadow: 2px 2px 3px #999;
}

#addIcon:hover{
    background-color:#FFF;
    color:black;
    transform: scale(1.03);
    cursor: pointer;
}