/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";



body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 10px 10px;
    background: #fff;
    border: none;
    border-radius: 5;
    margin-bottom: 0px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}


/* ---------------------------------------------------
Grade Window
----------------------------------------------------- */

.grades
{
    width:70%;
}


/* ---------------------------------------------------
CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

.tablecustom{
    width:100%;
}

.marks{
    max-width: 10vw;
}

.classtest{
    max-width: 5vw;
    min-width: 2vw;
}
.rollno
{
    max-width: 7vw;
    min-width: 5vw;
}

.gradewin{
    max-width: 2.5vw !important;
    min-width: 2.5vw;
}

.initials{
    background-color: purple;
    border:0.5px red;    
    height:40px;
    width: 40px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
}
.initial{
    margin-left:12.5px;
}

@media (max-width:1250px){
    .grades{
        width:100%;
    }
    .gradewin{
        max-width: 3vw !important;
        min-width: 3vw;
    }
}

@media (max-width:400px){
   
    .classtest{
        max-width: 10vw;
        min-width: 6vw;
    }
    .initials{
        background-color: purple;
        border:0.5px red;    
        height:35px;
        width: 35px;
        border-radius:50%;
        -moz-border-radius:0%;
        -webkit-border-radius:50%;
    }
    .initial{
        margin-left:11px;
    }
   
    .gradewin{
        max-width: 7vw !important;
        min-width: 7vw;
    }
}