body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url(../images/bg.jpg);
}
.box .text-muted {
  color: gray;
}
.box {
  width: 500px;
  padding: 40px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  background: #222222;
  text-align: center;
  transition: 0.25s;
  margin-top: 100px;
  border-radius: 5%;
}

.box input[type="text"],
.box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 10px 10px;
  width: 250px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

.box h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
  width: 300px;
  border-color: #2ecc71;
}

.box input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.box input[type="submit"]:hover {
  background: #2ecc71;
}

.forgot {
  text-decoration: underline;
}

/* The alert message box */
.alert {
  padding: 20px;
  border-radius: 10px;
  background-color: #f44336;
  color: white;
  margin-bottom: 15px;
}

.logout
{
    background-color: #1d5697;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
